<!DOCTYPE html>
<html ng-app="universidadApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ejemplo Subproceso</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/jquery-ui.css">
<link rel="stylesheet" href="css/jquery-ui.structure.css">
<link rel="stylesheet" href="css/styles_green.css" type="text/css"
	media="screen">
<script src="js/lib/angular.min.js" type="text/javascript"></script>
<script src="js/app.js" type="text/javascript"></script>
<style>
.puntero {
	cursor: pointer;
}
</style>
</head>
<body>
	<div class="container" ng-controller="listadoCtrl">
		<header>
			<div class="text-center">
				<p>
				<h1>Proceso Pago</h1>
				</p>
			</div>
		</header>
		<section class="portletScreen">
			<article class="col-sm-6 col-sm-offset-3 marginTop">
				<div class="displaySide">
					<div ng-show="loadRight" class="loadingScreen browse"></div>
					<div class="icon-slider" ng-click="changeView('R')"
						ng-show="hasLeftSide === true">
						<iconbuilder icon="navigate_right"></iconbuilder>
					</div>
					<article class="headingPortlet">
						<article class="headingInfo second-style-mobile marginTopTitle"
							devicechecker="second-style-mobile">
							<h1 class="portlet-heading">Revisar Requerimiento</h1>
						</article>
					</article>


					<div class="text-center">
						<h1></h1>
						<br> <a href="#" class="btn btn-primary text-center">
							<div class="col-sm-6" style="width: 160px; height: 160px;">
								<p>Aprobado</p>
							</div>
						</a> <a href="#" class="btn btn-danger text-center">
							<div class="col-sm-6" style="width: 160px; height: 160px;">
								Desaprobado</div>
						</a>
					</div>

					<article class="oneColLeftPortlet"
						ng-show="userDevice === 'mobile'">
						<div class="addItemEdit">
							<div class="inputs rightIconbuilder">
								<button ng-click="changeView('L')" class="widthButton">
									<div class="icon-button">
										<iconbuilder icon="clipboard_checks"></iconbuilder>
									</div>
									<div class="text">Listado</div>
								</button>
							</div>
						</div>
					</article>
				</div>
			</article>
		</section>

	</div>
</body>
</html>